@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html { overflow-x: hidden; }

@font-face {
	font-family: 'Conv_Franklin Got';
	src: url('../fonts/Franklin Gothic Medium.eot');
	src: local('☺'), url('../fonts/Franklin Gothic Medium.woff') format('woff'), url('fonts/Franklin Gothic Medium.ttf') format('truetype'), url('fonts/Franklin Gothic Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    width: 100%;
    min-width:  800px;
    font-family: Arial, sans-serif;
    
}

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }

  
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    gap: 32px;
    padding: 32px;
  }
  .images__image {
    border-radius: 8px;
    overflow: hidden;
  }
  .images__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
  }
  
  /* Стили для основного блока loader */
  .loader {
  
    /* Фиксируем блок на всю ширину и высоту окна, чтобы перекрывать все остальные элементы */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  
    /* Центрируем анимацию loader */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* При загрузке страницы, Preloader сразу отображается */
    opacity: 1;
    visibility: visible;
  
    /* Добавляем затемнение */
    background: rgba(18,18,18,0.64);
  
    /* Добавляем плавный переход */
    transition: opacity 1s, visibility 0s 0s;
  }
  
  /* Класс для скрытия loader */
  .loader_hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0s 1s;
  }
  
  /* Скопированый код анимации loader */
  .sk-chase {
    width: 128px;
    height: 128px;
    position: relative;
    -webkit-animation: sk-chase 2.5s infinite linear both;
    animation: sk-chase 2.5s infinite linear both;
  }
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: sk-chase-dot 2s infinite ease-in-out both;
    animation: sk-chase-dot 2s infinite ease-in-out both;
  }
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #3626a7;
    border-radius: 100%;
    -webkit-animation: sk-chase-dot-before 2s infinite ease-in-out both;
    animation: sk-chase-dot-before 2s infinite ease-in-out both;
  }
  .sk-chase-dot:nth-child(1) {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .sk-chase-dot:nth-child(2) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .sk-chase-dot:nth-child(3) {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .sk-chase-dot:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  .sk-chase-dot:nth-child(5) {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .sk-chase-dot:nth-child(6) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .sk-chase-dot:nth-child(1):before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .sk-chase-dot:nth-child(2):before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .sk-chase-dot:nth-child(3):before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .sk-chase-dot:nth-child(4):before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  .sk-chase-dot:nth-child(5):before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .sk-chase-dot:nth-child(6):before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  @-webkit-keyframes sk-chase {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes sk-chase {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes sk-chase-dot {
    80%, 100% {
      transform: rotate(360deg);
    }
  }
  @keyframes sk-chase-dot {
    80%, 100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4);
    }
    100%, 0% {
      transform: scale(1);
    }
  }
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4);
    }
    100%, 0% {
      transform: scale(1);
    }
  }



nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.main{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    background: url(../images/icons/man.png) 90% 100%/auto 85% no-repeat, url(../images/icons/bg.jpg); 
}
.logo{
    color:#fff;
    font-size: 30px;
    line-height: 60px;
    float:left;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation:coming 2s ease;
    font-family: 'Franklin Gothic Medium',  sans-serif;
}

.logo a:active{
    transform: scale(1.1);
    }

main{
    width: 100%;
    height: 100%;
}

div.main .center {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  }

.menu{
    float: left;
    
}

.whhite-btn:visited{
  color:white;
}

.menu li{
    float: left;
    line-height:  60px;
    color: white;
    margin-left:  40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: top_menu 0.4s ease forwards;
    -o-animation: top_menu 0.4s ease forwards;
    animation: top_menu 0.4s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}

.menu li:nth-child(4){
    animation-delay: 1.2s;
}

.menu li:nth-child(5){
    animation-delay: 1.6s;
}

.menu li:nth-child(6){
    animation-delay: 2.0s;
}


.menu li a{
    transition: all 0.1s;
    color:white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited{
    color:white
    
}

.menu li a:hover{
    color:#e88604;
    
}

.menu li a:active{
    transform: scale(1.1); 
    transition: all 0.3s linear 0s;
}


.title_container{
    color:#2c384a;
    width: 100%;
    opacity: 0;
    -webkit-animation: title_move 1s ease forwards;
    -o-animation: title_move 1s ease forwards;
    animation: title_move 1s ease forwards;
    -webkit-animation-delay:2.4s;
    -o-animation-delay:2.4s;
    animation-delay:2.4s;
}

.title_container h1{
  font-family: 'Franklin Gothic Medium',  sans-serif;
  font-size: 72px;
  font-weight: 600;
}

.title_container h4 {
    font-size: 22px;
    color: #79818d;
    
}

.title_container input {
    
    height: 40px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px; 
    transform: scale(1);
    transition: all 0.3s linear 0s;
}

.title_container input:hover{
    background: #344051;
    color: white;
}

.title_container input:active{
    transform: scale(1.1);
    transition: opacity 1s, visibility 0s 0s;
}

@keyframes coming{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

@keyframes top_menu{
    from{ 
        opacity:0;
        margin-top: -80px;
        
    }
    to{
        opacity:1;
        margin-top: 0px;
    }
}

@keyframes title_move{
    from{ 
        opacity:0;
        margin-left: -500px;
        
    }
    to{
        opacity:1;
        margin-left: 0px;
    }
}

.for_me  {
    width: 100%;
    width: 16px;
    height: 730px;
    background: url(../images/icons/fon.jpg); 
    
}

.forme_container{
    width: 740px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.forme_container h2{   
  text-align: center;
  width: 156px;
  font-size: 33px;
  margin: 110px auto 30px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.forme_container hr{
height: 4px;
border: none;
background: #d17700;
width: 80px;
margin: 0 auto 60px;
}

.forme_container img{
  display: block;
  margin: 0 auto;
}

.forme_container secondText{
  margin-top: 45px;
}


.forme_container p{
  margin-top: 24px;
  font-size: 17px;
}

.forme_container a {
    display: block;
    width: 162px;
    height: 33px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 30px;
    margin: 40px auto 0;
    font-size: 16px;
    background-image: url(../images/icons/download.png);
    padding-left: 18px;
}

.forme_container a:hover{
  background: #344051;
  color: white;
}

.forme_container a:active{
  transform: scale(1.1);
  transition: all 0.3s linear 0s;
}



.skill{
    width: 100%;
    height: 523px;
    background: url(../images/icons/fon2.jpg);
    background-position: top center/cover no-repeat;
    
}
.blur-image {
    -webkit-animation: top_menu 0.4s ease forwards;
    -o-animation: top_menu 0.4s ease forwards;
    animation: top_menu 0.4s ease forwards;
    filter: blur(5px); /* Размытие изображения */
    transition: 1s; /* Время перехода */
}
.blur-image:hover {
    filter: blur(0); /* Отменяем размытие */
}

.my_skill{
    width: 1094px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 96px;
}

.my_skill h2{
    text-align: center;
    width: 250px;
    font-size: 33px;
    font-weight: bold;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    animation-duration: 3s;
  animation-name: slidein;
  animation-direction:normal;
  
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.my_skill hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 100px;
    animation-duration: 3s;
    transition: all 1s ease 0s;
  
}
    

.skills{
    float: left;
    width: 200px;
    text-align: center;
    margin: 0 36px;
    animation-name: Appearance;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  animation-delay: 8s;
    
}

.skills:nth-child(1){
    animation-delay: 0.4s;
}

.skills:nth-child(1){
    animation-delay: 0.4s;
}

.skills:nth-child(1){
    animation-delay: 0.4s;
}

.skills:nth-child(1){
    animation-delay: 0.4s;
}

.skills img{
    
    margin-bottom: 40px;
    height: 40px;
    animation-name: Appearance;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  animation-delay: 5s;
}

.skills img:nth-child(1){
    animation-delay: 0.4s;
}

.skills img:nth-child(2){
    animation-delay: 0.8s;
}

.skills img:nth-child(3){
    animation-delay: 1.2s;
}

.skills img:nth-child(4){
    animation-delay: 1.6s;
}


@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.skills h4{
    font-size: 18px;
    color: #e68505;
    margin-bottom: 20px;

}


.skills p{
    font-size: 16px;
}

.clear{
    clear:both;
}


.portfolio_kayses{
    width: 100%;
    background: url(../images/icons/sloy.jpg); 
    height: 250px;
    height: 592px;
}
.portfolio{
    padding-top: 110px;
    padding-bottom: 128px;
}

.portfolio_container{
    width: 1170px;
    margin: 0 auto;
    
}
.portfolio_container h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}

.portfolio_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 40px;
}

.portfolio_subscription{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}


.portfolio__kayses{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.portfolio_container img{
    width: 100%;
    margin-bottom: 40px;
}

.description_left{
    width: 200px;
    float: left;
    margin-right: 82px;
}

.description_left h3{
    font-size: 25px;
    
}

.description_left p{
    font-size: 17px;
    margin: 16px 0;
    text-decoration: none;
}

.description_left a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    
}
.description_left a:active{
    text-decoration: none;
    transform: scale(1.1);
}
.description_right h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.description_right p{
    font-size: 20px;

}

.calculator{
    padding-bottom: 84px;
}
.calculator_container{
    width: 1080px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 0 auto;
    padding-top: 74px;
}

.calculator_container h2{
     text-align: center;
    width: 358px;
    font-size: 43px;
    margin: 0px auto 50px;
    
}
.calculator_inner{
    width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.calculator_inner h3{
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.calculator_inner select{
    margin-bottom: 44px;
}

.calculator_inner hr{
    height: 2px;
    border: none;
    background: #eee;
    width: 100%;
    margin: 0 auto 24px;
}

.mySelect{
    display: block;
    width: 890px;
    height: 54px;
    background: #eeeeee;
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  url(../images/icons/select.png) 98% 54%/auto no-repeat, #eee;
}

.days, .price{
    margin-bottom: 18px;
    font-size: 21px;
    
}

.calculator_footer .text{
    float: left;
}

.calculator_footer .digit{
    font-size: 29px;
    float: right;
}



.statistic  {
    background: url(../images/icons/fon3.jpg) center/cover no-repeat;
    background-attachment: fixed;
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}



.statistic_container{
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.statistic_container h2{
      text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.statistic_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 90px;
}


.statistic_item{
    display: inline-block;
    width: 213px;
    text-align: center;
}
.statistic_item img{
    height: 54px;
    animation-name: static;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    animation-delay: 15s;
  }
  
  .statistic_item img:nth-child(1){
      animation-delay: 0.4s;
  }
  
  .statistic_item img:nth-child(2){
      animation-delay: 0.8s;
  }
  
  .statistic_item img:nth-child(3){
      animation-delay: 1.2s;
  }
  
  .statistic_item img:nth-child(4){
      animation-delay: 1.6s;
  }
  
  
  @-webkit-keyframes static {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes static {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes static {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes static {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


.statistic_item h3{
    font-size: 37px;
    font-weight: 800;
    margin: 34px 0;
}

.statistic_item p{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    animation-name: static_p;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    animation-delay: 15s;
  }
  
  .statistic_item p:nth-child(1){
      animation-delay: 0.4s;
  }
  
  .statistic_item p:nth-child(2){
      animation-delay: 0.8s;
  }
  
  .statistic_item p:nth-child(3){
      animation-delay: 1.2s;
  }
  
  .statistic_item p:nth-child(4){
      animation-delay: 1.6s;
  }
  
  
  @-webkit-keyframes static_p {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes static_p {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes static_p {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes static_p {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


.margin-right{
    margin-right: 53px;
}

.review{
     width: 100%;
    background: url(../images/icons/fon6.jpg); 
    height: 637px;
}

.review h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 100px 685px 0px 895px;
    
}

.review p{
    width: 695px;
    text-align:center;
    color: #243042;
    line-height: 1.5;
    margin: 38px 616px 0px 619px;
}

.otziv {
    margin-top: 40px;
    margin: 35px 925px 0px 925px;
}

.image
{
    margin: 58px 910px 95px 910px;
}

.circle 
{
    width: 100%;
    display: inline-block;
    margin: 55px 930px 0 930px;
   
}

.contacts{
    background: url(../images/icons/fon5.jpg) center/cover no-repeat;
    color: white;
}

.contacts_container{
    width: 734px;
    margin: 0 auto;
    padding-bottom: 68px;
}

.contacts_container h2{
    text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.contacts_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 32px;
}

.contacts_subscription{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
}

.contacts_data_item{
    float: left;
    width: 154px;
    text-align: center;
    margin: 0 45px;
}

.contacts_data_item img{
    height: 24px;
    margin-bottom: 16px;
    transition: 0.5s; /* Время эффекта */
    
    
}

.contacts_data_item img:hover{
    transform: scale(1.2); /* Увеличиваем масштаб */

}

.contacts_data_item p{
    font-size: 16px;
}

.contacts_container h3{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 46px;
    font-size: 21px;
    text-transform: uppercase;
}

.contacts_inputs input{
    display: block;
    width: 352px;
    float: left;
    height: 34px;
    padding-left: 14px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
}

.contacts_inputs .secondInput{
    float: right;
}

.contacts_container textarea{
    display: block;
    width: 100%;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(220, 224, 230, 0.93);
    font-size: 16px;
    margin-bottom: 30px;
}

.contacts_container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background: none;
    color: white;
    border: 2px solid white;
    height: 46px;
    width: 124px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 76px;
   
}


.contacts_container input:hover{
    background: #344051;
    color: white;
    
}

.contacts_container input:active{
    transform: scale(1.1);
    transition-duration: .2s;
}


.contacts_social{
    width: 422px;
    margin: 0 auto;
    
}

.contacts_social a{
    display: block;
    float: left;
    margin: 0 20px;
}
.contacts_social img{
    height: 30px;
    transition: 1s; 
}

.contacts_social img:hover{
    transform: scale(1.2);
}


    
.mapa{
    width: 100%;
    height: 356px;
}


.footer{
    width: 100%;
    height: 95px;
    background: #344051;
    color:#fff;
    font-size: 15px;
    line-height: 60px;
    padding-left: 828px;
    float:left;
    
}

@media (max-width: 991px){
  .title_container,  .title_container h4,  .title_container input{
    color: white;
    position: relative;
    z-index: 3;
  }
  
  
  .title_container input{
    border: 2px solid #fff;
  }
  .main{
    position: relative;
  }
    .main::after{
      content: "";
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      background: rgba(0,0,0,0.4);
    }
}





    




